html, body {
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.main-content-sidebar-menu {
    float: left;
    background-color: #fff;
    width: 20%;
    margin-top: 5%;
}

.main-content-articles {
    float: left;
    background-color: #fff;
    width: 70%;
    margin-left: 5%;
    margin-top: 5%;
}