:root {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    --text-primary: #848c84;
    --text-secondary: #8c5c34;
    --bg-primary: #303e3f;
    --bg-secondary: rgb(57, 85, 99, 0.8); /* #395563 converted, want opacity */
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-secondary);
    text-align: center;
}

p {
    color: var(--text-primary);
    text-align: center;
}

time {
    color: var(--text-primary);
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 300px;
}

.picture-items img {
    float: left;
    margin: 0 0 0 0; /* top right down left */
    padding: 5% 5% 5% 5%; /* top right down left */
}


header {
    position: sticky;
    float: left;
    width: 100vw;
    height: 5vh;
    width: 65%; 
    margin: 0 0 0 20%; /* top right down left */
    padding: 0 0 2rem 0; /* top right down left */
    background-color: var(--bg-primary);
    text-align: center;
    color: var(--text-primary);
    z-index: 1;
}

body {
    margin: 0 0 0 0; /* top right down left */
    padding: 0 0 0 0; /* top right down left */
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    height: 100vh;
    width: 100vw;

}
table, tr, td, th, legend, fieldset {
    border: 1px solid var(--text-secondary);
}

table, tr, td, th, form {
    color: var(--text-primary);
    border-collapse: collapse;
    font-weight: 700;
    width: 95%;
    margin: 0 0 2.5% 2.5%; /* top right down left */
}

td:last-child {
    text-align: center;
    column-span: 3;
}

body::-webkit-scrollbar {
    background: var(--bg-secondary);
    width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
    background: var(--bg-primary);
}

main {
    margin: 0 0 0 0; /* top right down left */
    padding: 0 0 0 0; /* top right down left */
}

footer {
    clear: both;
    width: 100vw;
    margin: 0 0 0 0; /* top right down left */
    padding: 0 0 0 0; /* top right down left */
}

.navbar {
    clear: right;
    position: fixed;
    float: left;
    width: 5.1%; 
    height: 100vh;
    background-color: var(--bg-primary);
    margin: 0 0 0 20%; /* top right down left */
    padding: 0 0 0 0; /* top right down left */
    list-style: none;
    z-index: 1;
}

.navbar:hover header {
    height:100vh;
}

.nav-text {
    display: none;
}

.navbar:hover .nav-text {
    display: block;
    text-align: center;
}

.navbar:hover .nav-logo svg {
    transform: rotate(180deg);
    transition: 300ms ease-in-out;
}

@media only screen and (min-width: 700px) {
    .navbar:hover {
        transition: width margin-left 0.5s ease-in-out;
        width: 10%;
        z-index: 1;
    }
}

.nav-item, .nav-logo {
    margin: 0 0 0 0; /* top right down left */
    padding: 0 0 0 0; /* top right down left */
    text-align: center;
    font-size: 1.2rem;
    transition: all 0.5s ease-in-out;
}

.nav-item svg, .nav-logo svg {
    fill: var(--text-primary);
    transition: 300ms ease-in-out; 
}

.nav-logo svg {
    fill: var(--text-secondary);
    margin: 5rem 0 5rem 0; /* top right down left */
    padding: 0 0 0 0; /* top right down left */
}

.nav-item:hover {
    background-color: var(--bg-secondary);
    fill: var(--text-secondary);
    transition: 300ms ease-in-out;
    border-radius: 5rem 0 0 5rem; /* top-left top-right bottom-right bottom-left */
}

.nav-item:hover svg {
    fill: var(--text-secondary);
    transition: 300ms ease-in-out;
}

.nav-item:first-child {
    margin: 0 0 40% 0; /* top right down left */
    padding: 0 0 0 0; /* top right down left */

}

.nav-link {
    display: block;
    text-decoration: none;
    color: var(--text-secondary);
    padding: 1rem 0 1rem 0; /* top right down left */
    margin: 5% 0 0 0; /* top right down left */
    
}

.m-gallery-nav {
    clear: both;
    margin: 0 0 0 40.05%; /* top right down left */
    padding: 1rem 0 1rem 0; /* top right down left */
}

.m-gallery-nav a, .m-gallery-nav li  {
    text-decoration: none;
    color: var(--text-secondary);
    list-style: none;
    font-size: 1.2rem;
    font-weight: 700;
}

.m-articles, .m-courses, .m-about, .m-pictures, .m-contact {
    clear: right;
    float: right;
    width: 60%;
    height: 100%;
    background-color: var(--bg-secondary);
    padding: 0 0 100vh 0; /* top right down left */
    margin: 0 15% 0 0; /* top right down left */
}

svg {
    width: 3rem;
    height: 3rem;
    margin: 0 0 0 0; /* top right down left */
    padding: 0 0 0 0; /* top right down left */
}

time {
    margin: 0 29% 0 29%; /* top right down left */
    padding: 0 0 0 0; /* top right down left */
}

@media only screen and (max-width: 700px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 10vh;
        position: fixed;
        margin: 0 0 0 0; /* top right down left */
        padding: 0 0 0 0; /* top right down left */
    }

    .nav-item {
        float: left;
        width: 20%;
    }

    .nav-logo {
        display: none;
    }

    .nav-item, .nav-logo {
        margin: 0 0 0 0; /* top right down left */
        padding: 0 0 0 0; /* top right down left */
        text-align: center;
        font-size: 1.2rem;
        transition: all 0.5s ease-in-out;
    }
    
    .nav-item svg, .nav-logo svg {
        fill: var(--text-primary);
        transition: 300ms ease-in-out; 
    }
    
    .nav-logo svg {
        fill: var(--text-secondary);
        margin: 5rem 0 5rem 0; /* top right down left */
        padding: 0 0 0 0; /* top right down left */
    }
    
    .nav-item:hover {
        background-color: var(--bg-secondary);
        fill: var(--text-secondary);
        transition: 300ms ease-in-out;
        border-radius: 0rem 0rem 5rem 5rem; /* top-left top-right bottom-right bottom-left */
    }
    
    .nav-item:hover svg {
        fill: var(--text-secondary);
        transition: 300ms ease-in-out;
    }

    .m-articles, .m-courses, .m-about, .m-pictures, .m-contact {
        width: 100%;
        height: 100%;
        background-color: var(--bg-secondary);
        padding: 0 0 0 0; /* top right down left */
        margin: 0 0 0 0; /* top right down left */
    }

    header {
        width: 100%;
        height: 10vh;
        margin: 0 0 0 0; /* top right down left */
        padding: 0 0 0 0; /* top right down left */
    }

    .navbar:hover  {
        transition: height margin-bottom 0.5s ease-in-out;
        height: 12%;
        z-index: 1;
    }
}